{
    acme_ca {$CADDY_ACME_CA}
    email info@opengis.ch
}

{$QFIELDCLOUD_HOST} {
    root * /home/app/web/
    file_server

    # Caddy imports. Currently imports the minio configuration from `Caddyfile.proxy-minio`.
    # PROD Since we are using a remote S3, `CADDY_IMPORT_GLOB` should be an empty glob ("(*(N))").
    # DEV  Use local minio. The file is mounted in docker-compose and CADDY_IMPORT_GLOB is set to the filename.
    import {$CADDY_IMPORT_GLOB}

    @notStatic {
        not {
            path /staticfiles/*
            path /mediafiles/*
        }
    }
    reverse_proxy @notStatic app:8000
}
