{
    acme_ca {$CADDY_ACME_CA}
    email info@opengis.ch
}

{$QFIELDCLOUD_HOST} {
    root * /home/app/web/
    file_server

    # On prod, this is an empty file, as we are using a remote S3.
    # On dev, this contains the config for minio reverse proxy (mounted in docker-compose)
    import Caddyfile.proxy-minio

    @notStatic {
        not {
            path /staticfiles/*
            path /mediafiles/*
        }
    }
    reverse_proxy @notStatic app:8000
}
