@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


a {
    color: #4a6fae;
}
a :hover {
    color: #3f5e93;
}

.btn-primary {
    color: #fff;
    background-color: #4a6fae;
    border-color: #4a6fae;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3f5e93;
    border-color: #3b588a;
}