{% extends 'account/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title_contents %}{% trans 'Reset Password' %}{% endblock %}


{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{% trans 'Password Reset' %}</h5>
    <p class="card-text">
      {% url 'account_login' as login_url %}
      {% blocktrans with login_url=login_url %}
        Forgot your password?
        Enter your email address below, and we will send you an email allowing you to reset it.
        If you happened to remember your old password, please go back to the <a href="{{ login_url }}">sign-in form</a>.
      {% endblocktrans %}
    </p>

    <form action="{% url 'account_reset_password' %}" method="POST">
      {% csrf_token %}

      {% bootstrap_form form %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="float-right">
        <button class="btn btn-primary" type="submit">{% trans 'Reset Password' %}</button>
      </div>
    </form>


  </div>
</div>

{% endblock content %}
