{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% load bootstrap4 %}

{% block title %}
  {% trans 'Change Password' %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">

      <h5 class="card-title mb-3">
        {% if token_fail %}
          {% trans 'Bad Token' %}
        {% else %}
          {% trans 'Change Password' %}
        {% endif %}
      </h5>

      {% if token_fail %}

        <p class="card-text">
          {% url 'account_reset_password' as passwd_reset_url %}
          {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
          {% endblocktrans %}
        </p>
      {% else %}
        {% if form %}
          <p class="card-text">
            {% url 'account_login' as login_url %}
            {% blocktrans with login_url=login_url %}
              Please enter the newly chosen secure password in the form below.<br />
              If you happened to remember the old password, please go back to the <a href="{{ login_url }}">sign-in form</a>.
            {% endblocktrans %}
          </p>
          <form method="POST" action="{{ action_url }}">
            {% csrf_token %}

            {% bootstrap_form form %}

            <button class="btn btn-primary" type="submit" name="action">{% trans 'Change password' %}</button>
          </form>

        {% else %}
          <p>
            {% trans 'Your password is now changed.' %}
          </p>
        {% endif %}

      {% endif %}
    </div>
  </div>
{% endblock %}
