{% extends 'account/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title_contents %}{% trans 'Change Password' %}{% endblock %}


{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{% trans 'Change Password' %}</h5>
    <p class="card-text">
      {% url 'account_login' as login_url %}
      {% blocktrans with login_url=login_url %}
        Your password is now changed. Use your new password on the <a href="{{ login_url }}">sign-in form</a>.
      {% endblocktrans %}
    </p>

  </div>
</div>

{% endblock content %}
