{% extends 'account/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title_contents %}{% trans 'Password Reset Email Sent' %}{% endblock %}


{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{% trans 'Password Reset Email Sent' %}</h5>
    <p class="card-text">
      {% url 'account_login' as login_url %}
      {% blocktrans with login_url=login_url %}
        We have sent you an email. Please contact us if you do not receive it within a few minutes. Proceed to the <a href="{{ login_url }}">sign-in form</a>.
      {% endblocktrans %}
    </p>
  </div>
</div>

{% endblock content %}
