{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block title %}
  {% trans 'Change Password Complete' %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-3">{% trans 'Change Password' %}</h5>
      <p class="card-text">
        {% url 'account_login' as login_url %}
        {% blocktrans with login_url=login_url %}
          The password is now changed. Use the password on the <a href="{{ login_url }}">sign-in form</a>.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
