{% extends 'account/base.html' %}
{% load i18n %}

{% block title_contents %}{% trans 'Verification Sent' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{% trans 'Verification Email Sent' %}</h5>

    <p class="card-text">
      {% if request.session.account_verified_email %}
        {% blocktrans with email=request.session.account_verified_email %}
          A verification email was sent to <strong>{{ email }}</strong>.<br>
        {% endblocktrans %}
      {% else %}
        {% comment %}
          The following should actually never happen.
          We make sure `account_verified_email` is in the session
          With an assert in the view.
        {% endcomment %}
        {% trans 'A verification email was sent.' %}
      {% endif %}
      <br>
      {% trans 'Please confirm your email to access your QFieldCloud account.' %}
    </p>

    <div class="float-right">
      <form method="POST" action="{% url 'resend_confirmation' %}" class="float-right">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-warning">{% trans 'Resend Verification Email' %}</button>
        <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans 'Sign In' %}</a>
      </form>
    </div>

  </div>
</div>

{% endblock content %}
