{% extends "admin/base.html" %}
{% load i18n jazzmin version %}

{% block footer %}
    {% if not is_popup %}
        <footer class="main-footer {{ jazzmin_ui.footer_classes }}">
            <div class="float-right d-none d-sm-inline">
                <b>{% trans 'Jazzmin version' %}</b> {% get_jazzmin_version %} |
                <b>{% trans 'QFieldCloud version' %}</b> {% get_qfieldcloud_version %}
            </div>
            {% autoescape off %}
                <strong>{% trans 'Copyright' %} &copy; {% now 'Y' %} {{ jazzmin_settings.copyright }}.</strong> {% trans 'All rights reserved.' %}
            {% endautoescape %}
        </footer>
        {% if jazzmin_settings.show_ui_builder %}
            {% include 'jazzmin/includes/ui_builder_panel.html' %}
        {% endif %}
    {% endif %}
{% endblock %}
