<div>
    <table>
        <thead>
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <th>User id</th>
                <th>User name</th>
                <th>Jobs count</th>
            </tr>
        </thead>
        <tbody>
        {% for item in list_active_users %}
        <tr>
            <td> {{ item.user_id }} </td>
            <td> {{ item.user_name }} </td>
            <td> {{ item.jobs_count }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
