{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<p>
{% blocktrans trimmed with username=user.username %}
  The following link can be used to reset the password of user
  <strong>{{ username }}</strong>:
{% endblocktrans %}
</p>
<p><a href="{{ url }}">{{ url }}</a></p>
{% blocktrans trimmed with username=user.username %}
  This link can be sent directly to the user (e.g. by email).
  It's only usable once, and it expires in
  <strong>{{ timeout_days }} days</strong>.
{% endblocktrans %}
{% endblock %}
