{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block submit_buttons_bottom %}
  {{ block.super }}

  <div class="submit-row">
    <a href="{% url 'admin:password_reset_url' original.id %}">{% trans 'Generate reset password URL' %}</a>
    |
    <a href="{% url 'admin:core_project_changelist' %}?q=owner:{{original.username}}">{% trans 'Owned projects' %}</a>
    |
    <a href="{% url 'admin:core_project_changelist' %}?q=collaborator:{{original.username}}">{% trans 'Projects collaborations' %}</a>
    |
    <a href="{% url 'admin:core_organization_changelist' %}?q=owner:{{original.username}}">{% trans 'Owned organizations' %}</a>
    |
    <a href="{% url 'admin:core_organization_changelist' %}?q=member:{{original.username}}">{% trans 'Organization memberships' %}</a>
  </div>
{% endblock %}
