[submodule "docker-qgis/libqfieldsync"]
	path = docker-qgis/libqfieldsync
	url = https://github.com/opengisch/libqfieldsync.git
[submodule "docker-app/qfieldcloud/core/web/staticfiles/scss/bootstrap"]
	path = docker-app/qfieldcloud/core/web/staticfiles/scss/bootstrap
	url = https://github.com/twbs/bootstrap.git
