__pycache__/
*.log
*.orig
.htmlcov/
.coverage
/conf/supervisord.conf
.vscode
.env
docker-compose.override.yml
client/projects
conf/mkcert/certs/*
conf/certbot/*
conf/nginx/config.d/*.conf
conf/nginx/dhparams/*.pem
Pipfile*
**/site-packages
docker-qgis/libqfieldsync
docker-qgis/qfieldcloud-sdk-python
