__pycache__/
*.log
*.orig
.htmlcov/
.coverage
/conf/supervisord.conf
.vscode
.env
docker-compose.override.yml
client/projects
conf/nginx/certs/*
conf/nginx/dhparams/dhparams4096.pem
conf/certbot/*
Pipfile*
**/site-packages
docker-qgis/libqfieldsync
