__pycache__/
*.log
*.orig
.htmlcov/
.coverage
.vscode
.env
.env.test
docker-compose.override.yml
client/projects
conf/mkcert/*
conf/certbot/*
conf/nginx/certs/*.pem
conf/nginx/config.d/*.conf
conf/nginx/dhparams/*.pem
Pipfile*
**/site-packages
docker-qgis/libqfieldsync
docker-qgis/qfieldcloud-sdk-python
.venv

# compiled translations
docker-app/qfieldcloud/locale/**/*.mo
