repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
        files: '.*\.py$'
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.28.0'
    hooks:
    -   id: django-upgrade
        args: [--target-version, '4.2', '--skip', 'admin_register']
        files: '^docker-app/qfieldcloud/.*.py$'

  - repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-clean-block, flake8-if-expr]

  # Lint and format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]

      # Run the formatter.
      - id: ruff-format

  # Static type-checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.1
    hooks:
      - id: mypy
        additional_dependencies: [types-pytz, types-Deprecated, types-PyYAML, types-requests, types-tabulate, types-jsonschema, django-stubs, django-stubs-ext, djangorestframework-stubs]
        pass_filenames: false
        entry: bash -c 'mypy -p docker-app -p docker-qgis "$@"' --

exclude: '(docker-app/qfieldcloud/locale/.*)|(.vscode/.*)'
