# See the default values at: https://docs.astral.sh/ruff/configuration/

# Exclude a variety of commonly ignored directories.
exclude = [
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".ruff_cache",
    ".vscode",
    "__pypackages__",
    "site-packages",
# Custom QFieldCloud dirs to ignore.
    "**/docker-qgis/libqfieldsync/",
    "**/docker-qgis/qfieldcloud-sdk-python/",
]

# Support Python 3.10+.
target-version = "py310"

[lint]
extend-select = ["I"]
ignore = []

[lint.mccabe]
max-complexity = 30
