Django>=3.2,<3.3
djangorestframework>=3.12.2,<3.13
markdown>=3.3.3,<3.4
django-filter>=2.4.0,<2.5
gunicorn>=20.0.4,<20.1
psycopg2-binary>=2.8.6,<2.9
django-rest-auth>=0.9.5,<0.10
django-allauth>=0.44.0,<0.45
pyyaml==5.4
drf-yasg>=1.20.0,<1.21
coverage==5.3
django-rq>=2.4.0,<2.5
boto3>=1.16.28,<1.17
django-storages>=1.10.1,<1.22
sentry-sdk
jsonschema>=3.2.0,<3.3
django-tables2>=2.3.2,<2.4
django-bootstrap4>=2.3.1,<2.4
django-cron==0.5
django-invitations>=1.9.3,<1.10
redis==3.5.3
JSON-log-formatter>=0.3.0<0.4.0
