[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docker = "==4.2.0"
rq = "==1.5.1"
supervisor = "==4.2.1"
flake8 = "==3.8.3"

[requires]
python_version = "3.8"
