<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
      {% block title %}
      {{ page_title|default:"Untitled Page" }}
      {% endblock title %}
    </title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}
    </style>

  </head>

  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block content %}
        <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Copyright, blah blaaaah.</span>
      </div>
    </footer>
  </body>
</html>
