# NOTE dependency versions should be defined in the `*.tar.gz` format, not `git+https://` to make `wheel` happy
libqfieldsync @ git+https://github.com/opengisch/libqfieldsync@1fe95e62b3c648e58ef80707593c447592ca1762
convert2qgis @ git+https://github.com/opengisch/convert2qgis@30855425bbbbd5214a03c6152343372ba9dd28d0
