<li class="provider-button-parent">

    <a title="{{ attrs.name }}" href="{{ attrs.href }}">
        <div class="provider-button" style="border-color: {{ attrs.styles.light.color_stroke|default:"grey" }}; background-color: {{ attrs.styles.light.color_fill|default:"white" }}">

            <img src="{{ attrs.styles.light.logo }}" alt="{{ attrs.name }}">
            <span>
                <strong style="color: {{ attrs.styles.light.color_text|default:"black" }}">{{ attrs.name }}</strong>
            </span>

        </div>
    </a>
</li>
