boto3==1.35.14
boto3-stubs==1.35.14
deprecated==1.2.13
django==3.2.25
django-allauth==0.44.0
django-auditlog==2.3.0
django-axes==5.40.1
django-bootstrap4==23.1
django-classy-tags==4.1.0
django-common-helpers==0.9.2
django-constance[database]==2.9.1
django-countries==7.5.1
django-cron==0.6.0
django-cryptography==1.1
django-currentuser==0.6.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-filter==23.5
django-invitations==2.1.0
django-jazzmin==2.6.0
django-migrate-sql-deux==0.5.0
django-model-utils==4.3.1
django-nonrelated-inlines==0.2
django-notifications-hq==1.8.3
django-phonenumber-field==7.3.0
django-storages==1.14.2
django-log-request-id==2.1.0
django-tables2==2.7.0
django-timezone-field==6.1.0
djangorestframework==3.15.1
drf-spectacular==0.26.3
json-log-formatter==0.5.2
mypy-boto3-s3==1.35.2
packaging==21.3
phonenumbers==8.13.11
psycopg2==2.8.6
python-memcached==1.59
ruamel-yaml==0.17.26
ruamel-yaml-clib==0.2.7
sentry-sdk==1.24.0
stripe==4.2.0
