name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - release
      - QF-4434-faster-ci
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  lint:
    if: '! github.event.pull_request.draft'
    name: Lint code base
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Pre-commit
        uses: pre-commit/action@v3.0.0


  build:
    name: Build images
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        service_name:
          - app
          - worker_wrapper
          - nginx
          - qgis
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push `qfieldcloud-${{ matrix.service_name }}`
        if: ${{ matrix.service_name != 'worker_wrapper' }}
        uses: docker/build-push-action@v6
        with:
          context: ./docker-${{ matrix.service_name }}
          file: ./docker-${{ matrix.service_name }}/Dockerfile
          push: true
          tags: ghcr.io/opengisch/qfieldcloud-${{ matrix.service_name }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push `qfieldcloud-worker_wrapper`
        if: ${{ matrix.service_name == 'worker_wrapper' }}
        uses: docker/build-push-action@v6
        with:
          context: ./docker-app
          file: ./docker-app/Dockerfile
          target: 'worker_wrapper_runtime'
          push: true
          tags: ghcr.io/opengisch/qfieldcloud-${{ matrix.service_name }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Run tests
    runs-on: ubuntu-22.04
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        django_app:
          - authentication
          - notifs
          - subscription
          - core
          - __flaky__
    continue-on-error: true
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Prepare docker-compose override file
        run: |
          ln -s docker-compose.override.local.yml docker-compose.override.yml

      - name: Check env vars configuration
        run: |
          scripts/check_envvars.sh

      - name: Export the env variables file
        run: |
          cp .env.example .env
          sed -ri 's/^COMPOSE_FILE=(.*)/COMPOSE_FILE=\1:docker-compose.override.test.yml/g' .env
          eval $(egrep "^[^#;]" .env | xargs -d'\n' -n1 | sed -E 's/(\w+)=(.*)/export \1='"'"'\2'"'"'/g')

      - name: Pull docker containers
        run: docker compose pull

      - name: Build and run docker containers
        run: |
          docker compose up -d --build

      - name: Initial manage.py commands
        run: |
          docker compose run app python manage.py makemigrations --no-input --check
          docker compose run app python manage.py migrate
          docker compose run app python manage.py collectstatic

      - name: Run mandatory unit and integration tests
        if: matrix.django_app != '__flaky__'
        run: |
          docker compose run app python manage.py test --keepdb -v2 --exclude-tag="flaky" qfieldcloud.${{ matrix.django_app }}

      - name: Run flaky unit and integration tests
        if: matrix.django_app == '__flaky__'
        run: |
          docker compose run app python manage.py test --keepdb -v2 --tag="flaky" qfieldcloud

      - name: "failure logs"
        if: failure()
        run: |
          docker compose logs

      - name: Post Google Chat message on failure
        if: failure() && matrix.django_app != '__flaky__'
        uses: julb/action-post-googlechat-message@v1
        with:
          message: |
            Failed job run for branch `${{ github.head_ref || github.ref_name }}`, check ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} .
          gchat_webhook_url: ${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}

      # - name: Setup tmate session
      #   if: ${{ failure() }}
      #   uses: mxschmitt/action-tmate@v3
      #   timeout-minutes: 30
      #   with:
      #     limit-access-to-actor: true
